body{
    background-color: #2B3467;margin: 0;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200&family=Pathway+Extreme:wght@100&family=Roboto+Condensed:ital@1&family=Roboto+Slab:wght@100;300;500;600;700;800;900&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


header nav{
background-color: #ffffff;
border: 2px solid black;
color: rgb(255, 255, 255);
display: flex;
align-items: center;

}
header nav a{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav a:hover{
background-color: #6627be;
color:aqua;

}
header nav img{
    padding-right: 10px;
}
.containerMain .topMainPart{
    background-image: url(./pics/pexels-engin-akyurt-2943603.jpg);
    background-size: 100% 100%;
    
    opacity: 90%;
    background-repeat: no-repeat;
    
}
.containerMain .imageMain {
position:relative;
left: 100px;
top: 30px;

}
.containerMain .imageMain img{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    
    border-radius: 50px;
}
.containerMain .wave svg{
    display: block;
   
}
   

.containerMain .wave{
    position: relative;
    top:-240px;
    
}
.containerMain .topMainPart{
    display: flex;
    align-items: center;
    
}
.containerMain .topMainPart .topMainPartText{
    position: relative;
    top:-120px;
    right:-250px;
    text-align: center;
    padding:5px;
}
.containerMain .topMainPart .topMainPartText .text1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color:azure;
    
}
.containerMain .topMainPart .topMainPartText .text1 span{
    color: red;
}
.containerMain .topMainPart .topMainPartText .text2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    color: rgb(255, 5, 5);
    
}

.containerMain .topMainPart .topMainPartText .text2 span{
        color: rgb(255, 255, 255);
        font-size: 70px;;
    }
.containerMain .topMainPart .topMainPartText .text3{
    font-family: 'Bebas Neue', sans-serif;
    width:100%;
    font-weight: 600;
    opacity: 75%;
    text-align: center;
}
.containerMain .topMainPart .topMainPartText .text3 .text4{
    width:500px;
    opacity: 65%;
    
}
.containerMain .topMainPart .topMainPartText button{
    background-color: black;
    color: white;
    
    padding:15px;
    border-radius: 20px;
    position: relative;
    top:30px;   
    width:300px;
    font-size: 20px;
    
}
.best3seller .best3sellerTitle{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 50px;
}
.best3seller .design .cards3{
    display: flex;
    justify-content: center;
    
    
   
    margin:5px;


}
.best3seller .design .cards3 .card{
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border:2px solid black;
    align-items: center;
    text-align: center;
    display: block;
    width:27%;
    

}
.best3seller .design .cards3 .card .Bookmain{
    font-weight: 500;
    font-size: larger;
    background-color: #2b3467a6;
    display: block;
    height: 30px;
    text-align: center;
    padding-top: 8px;;
}
.best3seller .design .cards3 .card .author{
    position: relative;
    display: block;
    left:80px;
    text-align: center;
    right:20px;
    opacity: 60%;
}
.best3seller .design .cards3 .card .Bookmain:hover{
    color:white;
    background-color: black;
}
.best3seller .design .cards3 .card .ratings{
    width:80%;
}
.best3seller .design .cards3 .card .heightAlign{
    height:300px;
}
.best3seller .design .cards3 .card p{
    margin:6px;padding:10px;
    opacity: 95%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.best9seller .best9sellerTitle{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 50px;
}

.best9seller .cards9{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:-30px;
    text-align: center;
    padding:100px;
    padding-left: 150px;;
    
   
    margin:5px;


}
.best9seller .cards9 .card{
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
    border:2px solid black;
    align-items: center;
    text-align: center;
    display: block;
    width:80%;
    margin-bottom: 30px;;
    

}
.best9seller .cards9 .card .Bookmain{
    font-weight: 500;
    font-size: larger;
    background-color: #2b3467a6;
    display: block;
    height: 30px;
    text-align: center;
    padding-top: 8px;;
}
.best9seller .cards9 .card .author{
    position: relative;
    display: block;
    left:80px;
    text-align: center;
    right:20px;
    opacity: 60%;
}
.best9seller .cards9 .card .Bookmain:hover{
    color:white;
    background-color: black;
}
.best9seller .cards9 .card .ratings{
    width:80%;
}
.best9seller .cards9 .card .heightAlign{
    width: 200px;
}






.reviews .container1 .reviewBubble1{
    background-color: white;
    height: 200px;
    margin-left: 100px;
    width:900px;
    border-radius: 50px;
   text-align: center;
   
    
}
.reviews .container1 .reviewBubble1{
    display: flex;
    justify-content: left;
}

.reviews .container1 .reviewBubble1 img{
    -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);

position:relative;
right:70px;
}
.reviews .container1 .reviewBubble1 .parah{
    position: relative; 
    opacity:75%;
    top:50px;
    width: 750px;
    right: 50px;
}


.reviews .container1 .reviewBubble2{
    background-color: white;
    height: 200px;
    margin-left: 100px;
    width:900px;
    border-radius: 50px;
   text-align: center;
   position:relative;
   left:200px;
   
    
}
.reviews .container1 .reviewBubble2{
    display: flex;
    justify-content: right;
}

.reviews .container1 .reviewBubble2 img{
    -webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);

position:relative;
left:70px;
}
.reviews .container1 .reviewBubble2 .parah{
    position: relative; 
    opacity:75%;
    top:50px;
    width: 750px;
    left: 50px;
}
footer{
    background-color: gray;
    display: block;
    height:300px;
    color:white;
    
}